*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(38, 36, 36); */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: rgb(217, 192, 192); */
}
html, body{
    height: 100%;
    width: 100%;
    /* background-color: rgb(38, 36, 36); */
    /* color: white; */
}
/* div{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    margin: 50px auto;
    border-radius: 150px;
    box-shadow: 0px 0px 15px 20px yellow;
}
button{
    padding: 5px;
    margin: 20px 280px;
    background-color: transparent; 
} */

/* ................... 5 project......................... */


button{
    padding: 8px 10px;
    margin: 100px 280px;
    background-color: transparent; 
}
.aa{
    display: none;
}


/* div{
    height: 350px;
    width: 300px;
    border: 1px solid black;
    margin: 50px auto;
    background-image: url(./Alexa1\ \(6\).jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    object-fit: cover;
}
i{
    position: absolute;
    background: transparent;
    color: white;
    font-size: 55px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    transition: 0.3s linear;
    opacity: 0;
} */


/* div{
    height: 100%;
    width: 100%;
    background-color: rgb(38, 36, 36);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15vh auto;
}
.a{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.1ms;
}
.b{
    font-size: 120px;
    font-weight: 700;
    color: white;
    letter-spacing: 15px;
    font-style: italic;
    mix-blend-mode: difference;
}
.a{
    position: absolute;
    transition: all linear 0.2s;
} */



/* #q{
    height: 120px;
    width: 100%;
    border: 1px solid white;
    position: relative;

}
#q h1{
    font-size: 80px;
    mix-blend-mode: difference;
    z-index: 20;

}
#q img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    z-index: 1;
} */


